.thanksgiving-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.wagon-food {
    position: absolute;
    top: 50%;
    left: 25%;
    max-width: 300%;
    max-height: 150%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.campfire {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pilgrims {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 40%;
    max-height: 150%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.pumpkins {
    position: absolute;
    top: 85%;
    left: 65%;
    max-width: 6%;
    max-height: 70%;
    object-fit: contain;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.squirrels {
    position: absolute;
    top: 83%;
    left: 19%;
    max-width: 7%;
    max-height: 70%;
    object-fit: contain;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.thanksgiving-greeting {
    position: absolute;
    bottom: 10%;
    right: 5%;
    background: rgba(255, 235, 198, 0.9);
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    font-family: 'Georgia', serif;
    font-size: 1rem;
    color: #5a2e0d;
    text-align: center;
    max-width: 250px;
}